# =========================
# Tableau extract files
# =========================
*.hyper

# =========================
# OS / Editor junk files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Temporary files
# =========================
*.tmp
*.log
